


/* @font-face */

@font-face {
    font-family: "PT Mono";
    font-size: 100%;
    src: "../fonts/PT-Mono/PTMono-Regular.ttf";
}

@font-face {
    font-family: "Jost";
    font-size: 100%;
    src: "../fonts/Jost/Jost-Regular.ttf";
}