{% extends "base.html" %} {% block content %}

<!-- ======================== Start Main Area ============================== -->
<main class="site__main">
  <p>&nbsp;</p>
  <div class="container">
    <div class="row">
      <!-- Pending variable: p: [[Title, URL, Date posted, Due Date, Total marks], ...]
Submitted variable: s: [[Title, URL, Date posted, Due Date, Marks received, Total marks], ...] -->

      <div class="col-lg-12 col-md-12 mt-3 mb-3">
        <div class="sub">
          <h3 class="title">{{subject}}</h3>
          <div class="submission">
            <h4 class="subtitle flex">
              Pending Submission:
              <div class="metadata">
                <span class="datePost">date</span
                ><span class="dueDate">duedate</span>
                <span class="marks">marks</span>
              </div>
            </h4>
            {% for eachSub in p %}
            <ul class="submission-link link">
              <li class="each__submission">
                <a href="{{eachSub[1]}}" id="id_1">{{eachSub[0]}} </a>
                <div class="metadata">
                  <span class="uploadFile__span">
                    <form
                      action="#"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      <label id="label__file" for="myfile">Select:</label>
                      <input
                        type="file"
                        id="myfile"
                        name="myfile"
                        accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        multiple
                      />
                      <input class="myFile__submitBtn" type="submit" />
                    </form>
                  </span>
                  <span class="datePost">{{eachSub[2]}}</span
                  ><span class="dueDate">{{eachSub[3]}}</span>
                  <span class="marks">{{eachSub[4]}}</span>
                </div>
              </li>
            </ul>
            {% endfor %}
          </div>
          <div class="submission">
            <h4 class="subtitle flex">
              Submitted Submission:
              <div class="metadata">
                <span class="datePost">date</span
                ><span class="dueDate">duedate</span>
                <span class="marks">marks</span>
              </div>
            </h4>
            {% for eachSub in s %}
            <ul class="submission-link link">
              <li class="each__submission">
                <a href="{{eachSub[1]}}" id="id_1">{{eachSub[0]}} </a>
                <div class="metadata">
                  <span class="datePost">{{eachSub[2]}}</span
                  ><span class="dueDate">{{eachSub[3]}}</span>
                  <span class="marks">{{eachSub[4]}} / {{eachSub[5]}}</span>
                </div>
              </li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- ======================== End Main Area ============================== -->

{% endblock %}
