{% extends "base.html" %} {% block content %}

<!-- ======================== Start Main Area ============================== -->

{#
<!-- l = [['Applied ML with TF Batch 1', [[], []], [['IA2', 'https://classroom.google.com/u/0/c/MjY0MTE2NzQ3MjI0/a/MjY0MTE2NzQ3MjUx/details'], ['IA1', 'https://classroom.google.com/u/0/c/MjY0MTE2NzQ3MjI0/a/MjY0MTE2NzQ3MjM4/details']]], ['Cryptography and System Security_A_20_21', [['TY CSS IA-2 Approved -Not Approved LISt', 'https://lms-kjsce.somaiya.edu/mod/resource/view.php?id=21123'], ['IA-1 Topic Approval List', 'https://lms-kjsce.somaiya.edu/mod/resource/view.php?id=19234']], [[], []]]] -->
{{ url_for('subject', id='') }} #}
<main class="site__main">
  <p>&nbsp;</p>
  <div class="container">
    <div class="row">
      {% for subject in course %}
      <div class="col-lg-4 col-md-6 mt-3 mb-3">
        <div class="sub">
          <h3 class="title"><a href="{{ url_for('subject', id=subject[0][1]) }}">{{subject[0][0]}}</a></h3>
          <div class="resource">
            <h4 class="subtitle">Resources:</h4>
            <ul class="resource-link link">
              {% if subject[1][0] | length == 0 %}
              <a href="#">Nothing found </a
              >{% else %}
              <li>
                <a href="{{subject[1][0][1]}}" id="id_1"
                  >{{subject[1][0][0]}}</a
                >
              </li>
              {% if subject[1][1] | length > 0 %}
              <li>
                <a href="{{subject[1][1][1]}}" id="id_2">
                  {{subject[1][1][0]}}
                </a>
              </li>
              {% endif %} {% endif %}
            </ul>
          </div>
          <div class="submission">
            <h4 class="subtitle">Submission:</h4>
            <ul class="submission-link link">
              {% if subject[2][0] | length == 0 %}
              <a href="#">Nothing found </a
              >{% else %}
              <li>
                <a href="{{subject[2][0][1]}}" id="id_1"
                  >{{subject[2][0][0]}}</a
                >
              </li>
              {% if subject[2][1] | length > 0 %}
              <li>
                <a href="{{subject[2][1][1]}}" id="id_2"
                  >{{subject[2][1][0]}}</a
                >
              </li>
              {% endif %} {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</main>
<!-- ======================== End Main Area ============================== -->

{% endblock %}
